
.task-1>h1 {
    margin-bottom: 50px;
    font-size: 32px;
    color: #111;
}

 ul>li{
    color: #333;
    font-size: 14px;
    line-height: 20px;
}

a:hover {
    color:#06f;
}


li:first-child {
    color: blue;
}
li:last-child,
a {
    color: red;
}
li:nth-child(2n+2) {
    background-color: #f80;
}
.task-2>h1 {
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
}

.task-3 {
    width: 50%;
    color: #f0f0f0;
    padding:15px 0px 15px 0px;
    background-color: #f80;
}

.task-3>blockquote::before{
    content: '“';
}

.task-3>blockquote::after{
    content: '”';
}

.avatar {
    margin-left: 41px;
    color: #f0f0f0;
    display: inline-block;
    
}

.avatar>img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.text {
    line-height: 10px;
    margin-left: 10px;
}

