*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --green-color: #34b79d;
    --black-color: #333333;
    --white-color: #fff;
}

body{
    color: var(--black-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.header{
    width: 100%;
    color: var(--black-color);
    position: relative;
    z-index: 999;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}

.header-topbar{
    display: table;
    background-color:var(--white-color) ;
    color: var(--black-color);
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
    letter-spacing: 0.4px;
}

.header-topbar .header-topbar-inner,
.header-container .header-main-inner {
    max-width: 1820px;
    width: 100%;
    display: table;
    margin-left: auto;
    margin-right: auto;
}


.header-topbar, .header-container{
    padding-left: 50px;
    padding-right: 50px;
}

.header-topbar .topbar-right ul li {
    text-align: left;
    display: inline-block;
}

.header-topbar .topbar-right > ul > li > a {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;

}

.topbar-left {
    text-align: left;
    display: table-cell;
    vertical-align: middle;
}

.topbar-right {
    text-align: right;
    display: table-cell;
    vertical-align: middle;
}

.dropdown-nav .dropdown-menu a {
    display: block;
    line-height: 1;
    padding: 8px 0px;
}

ul.list-none{
    list-style: none;
}
.dropdown-nav{
    position: relative;
}

.dropdown-nav:hover > a {
    color: var(--green-color);  
}

.dropdown-nav .dropdown-menu {
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    left: 0;
    width: 180px;
    background: var(--white-color);
    border: 1px solid #eee;
    z-index: 2000;
    list-style: none;
    margin: -4px 0 0 0;
    padding: 15px;
    text-transform: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
}

.dropdown-nav:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: var(--black-color);
    text-align: left;
    list-style: none;
    background-color:var(--white-color);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

ol,ul {
    margin: 0;
    padding: 0;
}
a:hover, a.color, .color {
    color: var(--green-color);
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--black-color);
    transition: all 0.3s ease 0s;
}

.divider {
    border-bottom: 1px solid var(--white-color);
    outline: none;
    width: 100%;
    display: block;
    min-height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

